:root {
  --ff-todo-primary: "Josefin Sans", sans-serif;
  --fs-todo-primary: clamp(14px, 3vw, 18px);
  --fs-todo-logo: clamp(2rem, 7vw, 3rem);

  --fw-todo-primary: 400;
  --fw-todo-secondary: 700;

  --todo-box-shadow: 0px 32px 62px -26px rgba(0, 0, 0, 0.75);

  --todo-container-background: hsl(0, 0%, 98%);
  --todo-input-background: hsl(0, 0%, 100%);
  --todo-text-color: hsl(235, 19%, 35%);
  --todo-status-active: hsl(232, 100%, 50%);
  --todo-last-item-color: hsl(233, 11%, 84%);
  --todo-last-item-hover-color: hsl(236, 9%, 61%);
  --todo-border-color: hsl(0 0% 90%);
  --todo-strike-through-color: hsl(233, 11%, 84%);
}

.todo-container[data-theme="false"] {
  --todo-container-background: hsl(235, 21%, 11%);
  --todo-input-background: hsl(235, 24%, 19%);
  --todo-text-color: hsl(234, 39%, 85%);
  --todo-status-active: hsl(232, 100%, 50%);
  --todo-last-item-color: hsl(237, 14%, 26%);
  --todo-last-item-hover-color: hsl(233, 14%, 35%);
  --todo-border-color: hsl(237, 14%, 26%);
  --todo-strike-through-color: hsl(234, 11%, 52%);
}

.todo-container {
  font-family: var(--ff-todo-primary);
  font-size: var(--fs-todo-primary);
  font-weight: var(--fw-todo-primary);
  display: grid;
  grid-template-rows: 2fr 8fr;
  min-height: 100vh;
  color: var(--todo-text-color);
}

.todo-container .container {
  --max-width: 550px;
}

.navbar-container {
  --navbar-background: url(./assets/bg-mobile-light.jpg);
  background: var(--navbar-background);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  padding-top: clamp(2rem, 6vw, 5rem);
  min-height: clamp(14rem, 30vw, 40vh);
}

.navbar-container .theme-icon {
  width: clamp(1rem, 4vw, 1.5rem);
}

.todo-container[data-theme="false"] .navbar-container {
  --navbar-background: url(./assets/bg-mobile-dark.jpg);
}

@media (min-width: 35em) {
  .navbar-container {
    --navbar-background: url(./assets/bg-desktop-light.jpg);
  }

  .todo-container[data-theme="false"] .navbar-container {
    --navbar-background: url(./assets/bg-desktop-dark.jpg);
  }
}

.navbar-container > .container {
  display: flex;
  justify-content: space-between;
}

.navbar-container .logo {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: var(--fs-todo-logo);
  font-weight: 800;
}

.navbar-container .theme-icon {
  cursor: pointer;
}

.todo-wrapper {
  background-color: var(--todo-container-background);
  position: relative;
}

.todo-parent {
  position: absolute;
  width: 100%;
  top: calc(clamp(6rem, 9vw, 20rem) * -1);
}

.todo-input-wrapper {
  position: relative;
  box-shadow: var(--todo-box-shadow);
}

.todo-input-wrapper .todo-input {
  outline: none;
  width: 100%;
  padding: 0.75rem;
  font-size: var(--fs-todo-primary);
  padding-left: 2.3rem;
  border: 0px;
  border-radius: 0.2rem;
  background-color: var(--todo-input-background);
  color: var(--todo-text-color);
}

.todo-input-wrapper .circle {
  position: absolute;
  top: var(--fs-todo-primary);
  left: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid var(--todo-border-color);
  width: 1rem;
  aspect-ratio: 1;
}

.todo-list-container {
  background: var(--todo-input-background);
  box-shadow: var(--todo-box-shadow);
  margin-top: 2rem;
}

.todo-list-container .todo-last-item {
  display: flex;
  justify-content: space-between;
  font-size: clamp(12px, 3vw, 14px);
  padding: 0.75rem 1rem;
}

.todo-list-container .todo-last-item .todo-list-status {
  display: flex;
  justify-content: space-between;
  gap: 0.4rem;
}

.todo-list-container
  .todo-last-item
  .todo-list-status
  .todo-list-status-item.active {
  color: var(--todo-status-active);
}

.todo-list-container .todo-last-item {
  color: var(--todo-last-item-color);
}

.todo-list-container .todo-last-item .todo-list-status .todo-list-status-item {
  cursor: pointer;
}

.todo-list-container
  .todo-last-item
  .todo-list-status
  .todo-list-status-item:hover {
  color: var(--todo-last-item-hover-color);
}

.todo-list-clear {
  cursor: pointer;
}

.todo-list-clear:hover {
  color: var(--todo-last-item-hover-color);
}

.single-todo-wrapper {
  display: flex;
  align-items: center;
  padding: 0.75rem;
  font-size: var(--fs-todo-primary);
  opacity: 1;
  border-bottom: 1px solid var(--todo-border-color);
}

.single-todo-wrapper.dragging {
  opacity: 0.5;
}

.todo-status {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid var(--todo-border-color);
  height: 1rem;
  aspect-ratio: 1;
}

.single-todo-wrapper[data-todo-status="true"] .todo-status,
.circle[data-todo-status="true"] {
  background: linear-gradient(to bottom, #57ddff, #c058f3);
}

.single-todo-wrapper[data-todo-status="true"] .todo-status-inner,
.circle[data-todo-status="true"] .circle-inner {
  background-image: url(assets/icon-check.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 0.5rem;
  aspect-ratio: 1;
}

.todo-text {
  margin-left: 0.6rem;
}

.single-todo-wrapper[data-todo-status="true"] .todo-text {
  text-decoration: line-through;
  color: var(--todo-strike-through-color);
}

.todo-close {
  background-image: url(assets/icon-cross.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  height: 0.75rem;
  opacity: 0;
  aspect-ratio: 1;
  transition: opacity 0.5s ease-in-out;
}

.single-todo-wrapper:hover .todo-close {
  opacity: 1;
}
